#cl1 {
    font-family: 'Libre Barcode 39', cursive;
}

#cl3 {
    font-family: 'Roboto Mono', monospace;
}

#cl2 {
    font-family: 'Muli', sans-serif;
}

a:visited {
    background: red;

}

a:hover {
    color: blue;
    font-size: 40px;
  }

a:focus {
    color:green;

}
a:active {
    color:white;
    
}

a {
    font-size: 30px;
}